<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DAO_DTO_EXAMPLE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServe</display-name>
    <servlet-name>LoginServe</servlet-name>
    <servlet-class>master.servlet.LoginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServe</servlet-name>
    <url-pattern>/LoginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelServe</display-name>
    <servlet-name>DelServe</servlet-name>
    <servlet-class>master.servlet.DelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServe</servlet-name>
    <url-pattern>/DelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upServe</display-name>
    <servlet-name>upServe</servlet-name>
    <servlet-class>master.servlet.upServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upServe</servlet-name>
    <url-pattern>/upServe</url-pattern>
  </servlet-mapping>
</web-app>
- See more at: http://code.geeksorbit.com/script-codes/j2e/simple-dao-dto-example#sthash.8p6XZ3Ht.dpuf